<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<title>Wiketym - Generate new</title>
</head>

<body class="single">
	<form action="/generate" method="GET" target="_blank">
		<div id="words">
			<div class="word" oncontextmenu="clearWord(this)">

				<div class="lemma">
					<label for="lemma1">Word</label>
					<input name="lemma1" autocapitalize="none">
				</div>
				<div class="language">
					<label for="lang_code1">Language</label>
					<select name="lang_code1">
						{%- for lang in languages %}
						<option value="{{lang.code}}">{{lang.name}}</option>
						{% endfor -%}
					</select>
				</div>
			</div>
			<div id="word-buttons">
				<button type="button" id="add-word" onclick="addWord()">➕</button>
				<button type="button" id="del-word" onclick="removeWord()" disabled>❌</button>
			</div>
		</div>

		<details>
			<summary>Advanced parameters</summary>

			<div class="setting">
				<label for="max_level">Maximum distance form origin word</label>
				<input type="number" name="max_level" value="10" min="1" max="15">
			</div>

			<div class="setting">
				<label for="max_count">Maximum upwards connections per word</label>
				<input type="number" name="max_count" value="7" min="1" max="10">
			</div>

			<div class="setting">
				<input id="show-invalid" name="show_invalid" type="checkbox">
				<label for="show-invalid">Show invalid entries</label>
			</div>

			<div class="setting">
				<input id="all-connections" name="all_connections" type="checkbox">
				<label for="all-connections">Keep superfluous connections</label>
			</div>

			<div class="setting">
				<input id="expand-affixes" name="expand_affixes" type="checkbox">
				<label for="expand-affixes">Expand affix etymologies</label>
			</div>

			<div class="setting">
				<input id="preview" type="checkbox" onclick="togglePreview()">
				<label for="preview">Preview to the side</label>
			</div>

		</details>


		<input id="generate" type="submit" value="Generate">


	</form>
	<iframe name="preview-iframe"></iframe>
</body>

</html>