<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<title>Wiketym - Generate new</title>
</head>

<body>
	<form action="/generate" method="GET" target="_blank">
		<div id="words">
			<div class="word" oncontextmenu="clearWord(this)">
				<!-- <button type="button">❌</button> -->
				<div class="lemma">
					<label for="lemma1">Word</label>
					<input name="lemma1">
				</div>
				<div class="language">
					<label for="lang_code1">Language</label>
					<select name="lang_code1">
						{%- for lang in languages %}
						<option value="{{lang.code}}">{{lang.name}}</option>
						{% endfor -%}
					</select>
				</div>
			</div>
			<button type="button" id="add-word" onclick="addWord()">➕</button>
		</div>




		<details open>
			<summary>Advanced parameters</summary>

			<div class="setting">
				<label for="max_level">Maximum distance form origin word</label>
				<input type="number" name="max_level" value="10" min="1" max="23">
			</div>

			<div class="setting">
				<label for="max_count">Maximum upwards connections per word</label>
				<input type="number" name="max_count" value="10" min="1" max="10">
			</div>

			<div class="setting">
				<label for="allow_invalid">Show or hide invalid entries</label>
				<label class="option" for="show-invalid">Show</label>
				<input type="radio" name="allow_invalid" value="show" id="show-invalid">
				<label class="option" for="hide-invalid">Hide</label>
				<input type="radio" name="allow_invalid" value="hide" id="hide-invalid" checked>
			</div>

			<div class="setting">
				<label for="reduce">Remove superfluous connections</label>
				<label class="option" for="dont-reduce">Keep</label>
				<input type="radio" name="reduce" value="false" id="dont-reduce">
				<label class="option" for="do-reduce">Reduce</label>
				<input type="radio" name="reduce" value="true" id="do-reduce" checked>
			</div>

		</details>




		<input type="submit" value="Generate">
	</form>
</body>

</html>